/* COULEURS */
/* RESPONSIVE BREAKPOINTS */
/* BOX-SHADOWING */
/* RESPONSIVE */
body {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 18px;
}

p {
  font-size: 18px;
}

text {
  font-size: 14px;
}

a {
  text-decoration: none;
  color: inherit;
}

.explbttn {
  height: 50px;
  width: 220px;
  border: none;
  border-radius: 25px;
  color: white;
  font-weight: bold;
  background: linear-gradient(#ff79da, #9356DC);
}
.explbttn:hover {
  cursor: pointer;
}

.newrestaurant-bttn {
  width: 80px;
  height: 30px;
  margin-top: 15px;
  margin-right: 15px;
  border: none;
  border-radius: 3px;
  color: #008766;
  font-size: 16px;
  background-color: #99e2d0;
}

header {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10px;
}

.index_arrow {
  width: 50px;
  height: 50px;
  margin-right: auto;
}

.header-logo {
  width: 160px;
}

footer {
  display: flex;
  flex-direction: column;
  background-color: #353535;
  color: white;
  padding: 5%;
}
footer ul {
  padding: 0%;
}
footer li {
  list-style: none;
  margin-top: 5px;
}
footer .footerImg {
  width: 15px;
  height: 15px;
  margin-right: 10px;
}

.footerLogo {
  width: 100px;
  height: 20px;
}

body {
  margin: 0px;
}

#mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1400px;
}

section {
  margin-top: 20px;
}

.localisationBloc {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: lightgray;
  border-top: 2px solid #cfcfcf;
}

.currentLocalisation {
  display: flex;
  width: 100%;
  height: 50px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#cfcfcf, 15%, #eaeaea);
}
.currentLocalisation__mapper {
  width: 15px;
  height: 15px;
  margin-right: 15px;
}
.currentLocalisation__input {
  height: 48px;
  background: linear-gradient(#cfcfcf, 15%, #eaeaea);
  border: none;
  font-size: 16px;
}

.localisationExplorer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  padding-bottom: 50px;
  background-color: #f6f6f6;
}
.localisationExplorer h1 {
  width: 100%;
  margin-bottom: auto;
  text-align: center;
}
.localisationExplorer p {
  width: 100%;
  text-align: center;
}

.informationBloc {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5%;
}
.informationBloc h1 {
  align-self: flex-start;
}

.informationCard {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 325px;
  height: 75px;
  margin-bottom: 25px;
  background-color: #f6f6f6;
  border-radius: 25px;
  box-shadow: 4px 4px 7px 2px #ebebeb, -2px -2px 3px 2px #ebebeb;
}
.informationCard__crcl {
  overflow: visible;
}
.informationCard__img {
  width: 20px;
  height: 20px;
  margin-left: 5px;
}
.informationCard__txt {
  margin-left: 25px;
}

.restaurantBloc {
  display: flex;
  flex-direction: column;
  background-color: #f6f6f6;
  padding-top: 30px;
  padding-bottom: 50px;
  padding-right: 5%;
  padding-left: 5%;
}

.restaurantCard {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  width: auto;
  height: 250px;
  background-color: white;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 4px 4px 7px 2px #ebebeb, -2px -2px 3px 2px #ebebeb;
}
.restaurantCard__imgFrame {
  height: 175px;
  background-image: url("../img/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.restaurantCard__description {
  height: 75px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: center;
}
.restaurantCard__description img {
  width: 25px;
  height: 25px;
  margin-right: 20px;
}
.restaurantCard__description h2 {
  margin-top: 5px;
  margin-bottom: 0px;
  margin-left: 20px;
}
.restaurantCard__description p {
  margin-top: 5px;
  margin-bottom: 0px;
  margin-left: 20px;
}

#restaurant-palette_du_gout {
  background-image: url("../img/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
}

#restaurant-note_enchantee {
  background-image: url("../img/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
}

#restaurant-ala_francaise {
  background-image: url("../img/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
}

#restaurant-delice_des_sens {
  background-image: url("../img/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
}

.menuSection {
  margin-top: 0px;
}

.carteBloc {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 25px;
  justify-content: flex-end;
  background-image: url("../../img/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
  background-position: top;
  background-size: 100%;
  background-repeat: no-repeat;
}
.carteBloc button {
  margin-top: 40px;
  margin-bottom: 80px;
  font-size: 18px;
}

.menuBloc {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
  padding: 5%;
  margin-top: 200px;
  background-color: #f6f6f6;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}
.menuBloc__title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}
.menuBloc__title h3 {
  font-family: "Roboto", sans-serif;
  font-family: "Shrikhand", cursive;
  margin: 0px;
  align-self: flex-end;
  font-weight: bold;
  font-size: 24px;
}

.plateBloc {
  display: flex;
  flex-direction: row;
  width: 350px;
  background-color: white;
  border-radius: 20px;
  margin-bottom: 15px;
  height: 68px;
  box-shadow: 4px 4px 7px 2px #ebebeb, -2px -2px 3px 2px #ebebeb;
}
.plateBloc__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}
.plateBloc__name {
  font-weight: bold;
  margin: 0px;
}
.plateBloc__description {
  font-size: 16px;
  margin: 0px;
}
.plateBloc__price {
  font-size: 16px;
  font-weight: bold;
  margin-right: 20px;
  align-self: flex-end;
  margin-left: auto;
  color: #353535;
}

.sousmenuBloc {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}
.sousmenuBloc h4 {
  align-self: flex-start;
  border-bottom: 3px solid #99e2d0;
  padding-bottom: 10px;
  width: 40px;
}

.favoris {
  width: 25px;
  height: 25px;
  margin-right: 20px;
}

/*# sourceMappingURL=style.css.map */
