/* COULEURS */
/* RESPONSIVE BREAKPOINTS */
/* BLOCS VARAIBLES */
/* BOX-SHADOWING */
/* MAIN CONTAINER PADDING */
/* RESPONSIVE */
body {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 18px;
}

p {
  font-size: 18px;
}

text {
  font-size: 14px;
}

a {
  text-decoration: none;
  color: inherit;
}

.explbttn {
  height: 50px;
  width: 220px;
  border: none;
  border-radius: 25px;
  color: white;
  font-size: 18px;
  background: linear-gradient(#ff79da, #9356DC);
  box-shadow: 2px 2px 10px 2px #ebebeb, -2px -2px 10px 2px #ebebeb;
}
.explbttn:hover {
  cursor: pointer;
  background: linear-gradient(#fface8, #ae80e5);
  box-shadow: 2px 2px 10px 2px #d2d2d2, -2px -2px 10px 2px #d2d2d2;
}

.favoris {
  width: 25px;
  height: 25px;
  background: url("../img/logo/heart-regular.svg") no-repeat 100%;
}
.favoris:active {
  background: url("../img/logo/heart-solid.svg") no-repeat 100%;
}
.favoris:hover {
  background: url("../img/logo/heart-solid.svg") no-repeat 100%;
}

.header-container {
  width: 640px;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 1024px) {
  .header-container {
    width: 62.5%;
  }
}
@media screen and (max-width: 768px) {
  .header-container {
    width: 480px;
  }
}
@media screen and (max-width: 480px) {
  .header-container {
    width: 100%;
    justify-content: space-around;
  }
}

.header-logo {
  display: flex;
  justify-content: center;
  width: 60%;
}
@media screen and (max-width: 480px) {
  .header-logo img {
    width: 100%;
  }
}

.header {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 10px;
}
.header .header-arrow {
  width: 20px;
  height: 20px;
  visibility: hidden;
}
.header .header-separator {
  width: 20px;
  height: 20px;
  visibility: hidden;
}
.header--menu {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
}
.header--menu .header-arrow {
  width: 20px;
  height: 20px;
  visibility: visible;
  align-self: center;
}
.header--menu .header-separator {
  width: 20px;
  height: 20px;
  visibility: hidden;
}

footer {
  display: flex;
  flex-direction: column;
  background-color: #353535;
  color: white;
  padding: 5%;
}
footer ul {
  padding: 0%;
}
footer li {
  list-style: none;
  margin-top: 5px;
}
footer .footerImg {
  width: 15px;
  height: 15px;
  margin-right: 10px;
}

.footerLogo {
  width: 100px;
  height: 20px;
}

/* GLOBAL */
body {
  width: 100%;
  margin: 0px;
}

/*
main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

    @include main-container-padding;

    @include mobile-only {
        flex-direction: column;
        padding: 0%;
    }

    @include tab-only {
        flex-direction: column;
    }
}
*/
.mainContainer {
  display: flex;
  justify-content: center;
  padding: 0%;
}
.mainContainer--index {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 5%;
}
@media screen and (max-width: 480px) {
  .mainContainer--index {
    flex-direction: column;
    padding: 0%;
  }
}
@media screen and (max-width: 768px) {
  .mainContainer--index {
    flex-direction: column;
  }
}

section {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
}

/* SECTIONS */
#localisationSection {
  flex: 1 40%;
  margin-right: 20px;
}
@media screen and (max-width: 768px) {
  #localisationSection {
    width: auto;
    margin-right: 0px;
  }
}
@media screen and (max-width: 480px) {
  #localisationSection {
    width: auto;
    margin-right: 0px;
  }
}

#informationSection {
  display: flex;
  flex: 1 40%;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
#informationSection h1 {
  margin-top: 0px;
  margin-bottom: 0px;
}
@media screen and (max-width: 768px) {
  #informationSection {
    width: auto;
  }
}
@media screen and (max-width: 480px) {
  #informationSection {
    width: auto;
  }
}

#restaurantSection {
  flex: 2 100%;
}

.localisationBloc {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: #f6f6f6;
  border-top: 2px solid #cfcfcf;
}

.currentLocalisation {
  display: flex;
  width: 100%;
  height: 50px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#cfcfcf, 15%, #eaeaea);
}
.currentLocalisation__mapper {
  width: 15px;
  height: 15px;
  margin-right: 15px;
}
.currentLocalisation__input {
  height: 46px;
  background: linear-gradient(#cfcfcf, 15%, #eaeaea);
  border: none;
  font-size: 16px;
}

.localisationExplorer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  padding-bottom: 50px;
  background-color: #f6f6f6;
}
.localisationExplorer h1 {
  width: 100%;
  margin-bottom: auto;
  text-align: center;
}
.localisationExplorer p {
  width: 100%;
  text-align: center;
}

/* BLOC */
.informationBloc {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: auto;
}
@media screen and (max-width: 480px) {
  .informationBloc h1 {
    align-self: flex-start;
  }
}
/* CARDS */
.informationCard {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 325px;
  height: 75px;
  margin-top: 25px;
  background-color: #f6f6f6;
  border-radius: 25px;
  box-shadow: 2px 2px 10px 2px #ebebeb, -2px -2px 10px 2px #ebebeb;
}
.informationCard__crcl {
  overflow: visible;
}
.informationCard__img {
  width: 20px;
  height: 20px;
  margin-left: 5px;
}
.informationCard__txt {
  margin-left: 25px;
}
.informationCard:hover {
  cursor: pointer;
}
@media (max-width: 375px) {
  .informationCard {
    width: 280px;
  }
}

.restaurantBloc {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #f6f6f6;
  padding-top: 30px;
  padding-bottom: 50px;
  padding-right: 5%;
  padding-left: 5%;
  align-items: center;
  border-radius: 20px;
}
.restaurantBloc h1 {
  margin-right: auto;
  width: 100%;
}
@media screen and (max-width: 1024px) {
  .restaurantBloc {
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .restaurantBloc h1 {
    margin-right: 0px;
    width: auto;
  }
}
@media screen and (max-width: 480px) {
  .restaurantBloc {
    flex-direction: column;
    border-radius: 0px;
  }
  .restaurantBloc h1 {
    margin-right: 0px;
    align-self: flex-start;
  }
}

.restaurantCard {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
  width: 400px;
  height: 250px;
  flex: 0 0 450px;
  background-color: white;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 2px 2px 10px 2px #ebebeb, -2px -2px 10px 2px #ebebeb;
}
.restaurantCard__imgFrame {
  height: 175px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.restaurantCard__description {
  height: 75px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: center;
  padding: 5px 20px 5px 20px;
}
.restaurantCard__description h2 {
  margin: 0px;
  flex: 0 0 40%;
}
.restaurantCard__description p {
  margin: 0px;
}
@media screen and (max-width: 480px) {
  .restaurantCard {
    width: 335px;
  }
}
@media screen and (max-width: 768px) {
  .restaurantCard {
    width: 335px;
  }
}
@media screen and (max-width: 1024px) {
  .restaurantCard {
    flex: 0 0 250px;
  }
}
@media (max-width: 374px) {
  .restaurantCard {
    width: 280px;
  }
}

.etiquette {
  width: 80px;
  height: 30px;
  background-color: #99e2d0;
  color: #008766;
  margin-top: 15px;
  margin-right: 15px;
  border: none;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.etiquette p {
  margin: 0px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}

#restaurant-palette_du_gout {
  background-image: url("../img/restaurants/palette_du_gout_big.jpg");
}

#restaurant-note_enchantee {
  background-image: url("../img/restaurants/note_enchantee_big.jpg");
}

#restaurant-ala_francaise {
  background-image: url("../img/restaurants/a_la_francaise_big.jpg");
}

#restaurant-delice_des_sens {
  background-image: url("../img/restaurants/delice_des_sens_big.jpg");
}

.menuSection {
  margin-top: 10px;
  margin-bottom: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carteBloc {
  display: flex;
  flex-direction: column;
  width: 640px;
  justify-content: flex-end;
}
.carteBloc__image-frame {
  height: 436.033px;
  width: auto;
  border: 8px solid #99e2d0;
  border-radius: 5px;
  background: url("../img/restaurants/delice_des_sens_big-min.jpg");
  background-size: cover;
  background-position: center;
}
.carteBloc__image-frame img {
  max-width: 100%;
  height: 100%;
}
.carteBloc button {
  margin-top: 40px;
  margin-bottom: 80px;
}
@media screen and (max-width: 1024px) {
  .carteBloc {
    width: 62.5%;
  }
  .carteBloc__image-frame {
    height: 329.367px;
  }
}
@media screen and (max-width: 768px) {
  .carteBloc {
    width: 480px;
  }
  .carteBloc__image-frame {
    height: 324.033px;
  }
}
@media screen and (max-width: 480px) {
  .carteBloc {
    width: 100%;
    background-color: #f6f6f6;
  }
  .carteBloc__image-frame {
    border: none;
    height: 217.35px;
  }
}

.menuBloc {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
  padding: 5%;
  background-color: #f6f6f6;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border: 8px solid #99e2d0;
  transform: translateY(-35px);
}
.menuBloc__title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}
.menuBloc__title h3 {
  font-family: "Roboto", sans-serif;
  font-family: "Shrikhand", cursive;
  margin: 0px;
  align-self: flex-end;
  font-weight: bold;
  font-size: 24px;
}
@media screen and (max-width: 480px) {
  .menuBloc {
    border: none;
  }
}

.plateBloc {
  display: flex;
  flex-direction: row;
  width: inherit;
  background-color: white;
  border-radius: 20px;
  margin-bottom: 25px;
  height: auto;
  box-shadow: 2px 2px 10px 2px #ebebeb, -2px -2px 10px 2px #ebebeb;
}
.plateBloc__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}
.plateBloc__name {
  font-weight: bold;
  margin: 0px;
}
.plateBloc__description {
  font-size: 16px;
  margin: 0px;
}
.plateBloc__price {
  font-size: 16px;
  font-weight: bold;
  margin-right: 20px;
  align-self: flex-end;
  margin-left: auto;
  color: #353535;
}
.plateBloc:hover {
  cursor: pointer;
}

.sousmenuBloc {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 10px;
  width: 100%;
}
.sousmenuBloc h4 {
  align-self: flex-start;
  border-bottom: 3px solid #99e2d0;
  padding-bottom: 10px;
  width: 40px;
  font-weight: normal;
}

/*# sourceMappingURL=style.css.map */
