
.explbttn {
    height: 50px;
    width: 220px;
    border: none;
    border-radius: 25px;
    color: white;
    font-size: 18px;
    background: linear-gradient($color-secondary, $color-primary);

    &:hover {
        cursor: pointer;
    }
}
