
.favoris {
    width: 25px;
    height: 25px;
    background: url("../img/logo/heart-regular.svg") no-repeat 100%;

    img {
        width: 25px;
        height: 25px;
        opacity: 0;
    }
    
    &:hover {
        //background: none;
        cursor: pointer;

        img {
            opacity: 1;
            scale: 1.1;
            animation: favoris-animation 800ms ease-in-out;
        }
    }

}



@keyframes favoris-animation {
    0% {
        transform-origin: 12px 12px;
        transform: scale(0);
        opacity: 0.5;
    }

    100% {
        opacity: 1;

    }
}
