

// LOCALISATION

.localisationBloc {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: lightgray;
    border-top: 2px solid #cfcfcf;
    
}

.currentLocalisation {
    display: flex;
    width: 100%;
    height: 50px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#cfcfcf, 15%, #eaeaea);
    &__mapper {
        width: 15px;
        height: 15px;
        margin-right: 15px;
    }
    &__input {
        height: 46px;
        background: linear-gradient(#cfcfcf, 15%, #eaeaea);
        border: none;
        font-size: 16px;
    }
}

.localisationExplorer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    padding-bottom: 50px;
    background-color: $color-sitelightgrey;
    h1 {
        width: 100%;
        margin-bottom: auto;
        text-align: center;
    }
    p {
        width: 100%;
        text-align: center;
    }
}


// INFORMATION

.informationBloc {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5%;

    h1 {
        align-self: flex-start;
    }

}


    // INFOCARDS

.informationCard {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 325px;
    height: 75px;
    margin-bottom: 25px;
    background-color: $color-sitelightgrey;
    border-radius: 25px;
    @include box-shadowing;

    &__crcl {
        overflow: visible;
    }

    &__img {
        width: 20px;
        height: 20px;
        margin-left: 5px;
    }

    &__txt {
        margin-left: 25px;
    }
}



// RESTAURANTS
    // BLOC

.restaurantBloc {
    display: flex;
    flex-direction: column;
    background-color: $color-sitelightgrey;
    padding-top: 30px;
    padding-bottom: 50px;
    padding-right: 5%;
    padding-left: 5%;
}

    // CARD

.restaurantCard {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
    width: auto;
    height: 250px;
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
    @include box-shadowing;

    &__imgFrame {
        height: 175px;
        background-image: url("../img/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;

        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }

    &__description {
        height: 75px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: space-between;
        justify-content: center;

        img {
            width: 25px;
            height: 25px;
            margin-right: 20px;
        }
        
        h2 {
            margin-top: 5px;
            margin-bottom: 0px;
            margin-left: 20px;
        }

        p {
            margin-top: 5px;
            margin-bottom: 0px;
            margin-left: 20px;
        }
    }
}

    // ETIQUETTES
.etiquette {
    width: 80px;
    height: 30px;
    background-color: $color-tertiary;
    color: #008766;
    margin-top: 15px;
    margin-right: 15px;
    border: none;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;


    p {
        margin: 0px;
        text-align: center;
        font-size: 16px;
        font-weight: bold;
    }
}

    // IMAGES
#restaurant-palette_du_gout { background-image: url("../img/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg"); }
#restaurant-note_enchantee { background-image: url("../img/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg"); }
#restaurant-ala_francaise { background-image: url("../img/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg"); }
#restaurant-delice_des_sens { background-image: url("../img/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg"); }