
.menuSection {
    margin-top: 0px;
}

.carteBloc {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 25px;
    justify-content: flex-end;
    background-image: url("../img/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
    background-position: top;
    background-size: 100%;
    background-repeat: no-repeat;

    button {
        margin-top: 40px;
        margin-bottom: 80px;
    }
}

.menuBloc {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    padding: 5%;
    margin-top: 200px;
    background-color: $color-sitelightgrey;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;

    &__title {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 20px;

        h3 {
            font-family: 'Roboto', sans-serif;
            font-family: 'Shrikhand', cursive;
            margin: 0px;
            align-self: flex-end;
            font-weight: bold;
            font-size: 24px;
        }
    }
}

.plateBloc {
    display: flex;
    flex-direction: row;
    width: 350px;
    background-color: white;
    border-radius: 20px;
    margin-bottom: 25px;
    height: 68px;
    @include box-shadowing;

    &__title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
    }

    &__name {
        font-weight: bold;
        margin: 0px;
    }

    &__description {
        font-size: 16px;
        margin: 0px;
    }

    &__price {
        font-size: 16px;
        font-weight: bold;
        margin-right: 20px;
        align-self: flex-end;
        margin-left: auto;
        color: $color-sitedark;
    }
}

.sousmenuBloc {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;

    h4 {
        align-self: flex-start;
        border-bottom: 3px solid $color-tertiary;
        padding-bottom: 10px;
        width: 40px;
        font-weight: normal;
    }
}

.favoris {
    width: 25px;
    height: 25px;
    margin-right: 20px;
}