
/* COULEURS */

$color-primary: #9356DC;
$color-secondary: #ff79da;
$color-tertiary: #99e2d0;
$color-sitedark: #353535;
$color-sitelightgrey: #f6f6f6;

/* RESPONSIVE BREAKPOINTS */

$mobile-breakpoint: 480px;
$tab-breakpoint: 768px;
$smallscreen-breakpoint: 1024px;



/* BLOCS VARAIBLES */

$desktop-bloc-margin: 5%;


/* PLATE ANIMATION */
$plate-translation: 50px;
$plate-animation-duration: 500ms;
$plate-apparition-duration: 800ms;