
.menuSection {
    margin-top: 10px;
    margin-bottom: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carteBloc {
    display: flex;
    flex-direction: column;
    width: 640px;
    justify-content: flex-end;

    &__image-frame {
        height: auto;
        width: auto;
        border: 8px solid $color-tertiary;
        border-radius: 5px;

        img {
            max-width: 100%;
            height: auto;
        }
    }

    button {
        margin-top: 40px;
        margin-bottom: 80px;
    }

    @include smallscreen-only {
        width: 62.5%;
        
    }

    @include tab-only {
        width: 480px;
    }

    @include mobile-only {
        width: 100%;
        background-color: $color-sitelightgrey;

        &__image-frame {
            border: none;
        }
    }
}

.menuBloc {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    padding: 5%;
    background-color: $color-sitelightgrey;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border: 8px solid $color-tertiary;
    transform: translateY(-35px);

    &__title {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-bottom: 20px;

        h3 {
            font-family: 'Roboto', sans-serif;
            font-family: 'Shrikhand', cursive;
            margin: 0px;
            align-self: flex-end;
            font-weight: bold;
            font-size: 24px;
        }
    }

    @include mobile-only {
        border: none;
    }
}

.plateBloc {
    display: flex;
    flex-direction: row;
    width: inherit;
    background-color: white;
    border-radius: 20px;
    margin-bottom: 25px;
    height: auto;
    overflow: hidden;
    @include box-shadowing;

    &__title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
        width: inherit;
        overflow: hidden;
        flex-wrap: nowrap;
    }

    &__name {
        font-weight: bold;
        margin: 0px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    &__description {
        font-size: 16px;
        margin: 0px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    &__price {
        font-size: 16px;
        font-weight: bold;
        margin-right: 20px;
        align-self: flex-end;
        margin-left: auto;
        color: $color-sitedark;
    }

    &__selection {
        height: auto;
        width: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $color-tertiary;
        overflow: hidden;

        img {
            width: 25px;
            height: 25px;
            background-color: white;
            border-radius: 50%;
        }
    }

    &:hover {
        cursor: pointer;
    }

    &:hover > .translated {
        width: 80px;
        transform-origin: left;
        animation-name: plate-selection-anim;
        animation-duration: $plate-animation-duration;
        animation-timing-function: ease-in-out;
    }

    &:hover img {
        transform: rotate(0deg);
        animation-name: plate-selection-check-rotation;
        animation-duration: $plate-animation-duration;
        animation-timing-function: ease-in-out;
    }

    &:not(:hover) > .translated {
        width: 0px;
        animation: reverse-plate-selection-anim $plate-animation-duration ease-in-out;
    }

    &:not(:hover) img {
        transform: rotate(0deg);
        animation-name: reverse-plate-selection-check-rotation;
        animation-duration: $plate-animation-duration;
        animation-timing-function: ease-in-out;
    }

    &:hover .plateBloc__name {
        text-overflow: ellipsis;
        overflow: hidden;
        width: max-content;
        white-space: nowrap;
    }

}

.sousmenuBloc {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10px;
    width: 100%;

    h4 {
        align-self: flex-start;
        border-bottom: 3px solid $color-tertiary;
        padding-bottom: 10px;
        width: 40px;
        font-weight: normal;
    }
}

.gradual-apparition {
    &__1 {
        animation-duration: $plate-apparition-duration;
        animation-name: plate-apparition-anim;
        animation-timing-function: ease-in-out;
    }
    &__2 {
        animation-duration: $plate-apparition-duration*2;
        animation-name: plate-apparition-anim;
        animation-timing-function: ease-in-out;
    }
    &__3 {
        animation-duration: $plate-apparition-duration*3;
        animation-name: plate-apparition-anim;
        animation-timing-function: ease-in-out;
    }
    &__4 {
        animation-duration: $plate-apparition-duration*4;
        animation-name: plate-apparition-anim;
        animation-timing-function: ease-in-out;
    }
    &__5 {
        animation-duration: $plate-apparition-duration*5;
        animation-name: plate-apparition-anim;
        animation-timing-function: ease-in-out;
    }
    &__6 {
        animation-duration: $plate-apparition-duration*6;
        animation-name: plate-apparition-anim;
        animation-timing-function: ease-in-out;
    }
    &__7 {
        animation-duration: $plate-apparition-duration*7;
        animation-name: plate-apparition-anim;
        animation-timing-function: ease-in-out;
    }
    &__8 {
        animation-duration: $plate-apparition-duration*8;
        animation-name: plate-apparition-anim;
        animation-timing-function: ease-in-out;
    }
    &__9 {
        animation-duration: $plate-apparition-duration*9;
        animation-name: plate-apparition-anim;
        animation-timing-function: ease-in-out;
    }
    &__10 {
        animation-duration: $plate-apparition-duration*10;
        animation-name: plate-apparition-anim;
        animation-timing-function: ease-in-out;
    }
    &__11 {
        animation-duration: $plate-apparition-duration*11;
        animation-name: plate-apparition-anim;
        animation-timing-function: ease-in-out;
    }
    &__12 {
        animation-duration: $plate-apparition-duration*12;
        animation-name: plate-apparition-anim;
        animation-timing-function: ease-in-out;
    }
    &__13 {
        animation-duration: $plate-apparition-duration*13;
        animation-name: plate-apparition-anim;
        animation-timing-function: ease-in-out;
    }
    &__14 {
        animation-duration: $plate-apparition-duration*14;
        animation-name: plate-apparition-anim;
        animation-timing-function: ease-in-out;
    }
    &__15 {
        animation-duration: $plate-apparition-duration*15;
        animation-name: plate-apparition-anim;
        animation-timing-function: ease-in-out;
    }
}



// APPARITION PLATS
@keyframes plate-apparition-anim {
    0% {
        opacity: 0;
        transform: translateY(15px);
    }
    50% {
        opacity: 0;
        transform: translateY(15px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

// MANAGING PLATE SELECTION ANIMATION


@keyframes plate-selection-anim {
    0% {
        transform-origin: left;
        width: 0px;
    }
    100% {
        width: 80px;
    }
}

@keyframes reverse-plate-selection-anim {
    0% {
        width: 80px;
        transform-origin: right;
    }
    100% {
        width: 0px;
    }
}

@keyframes plate-selection-check-rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes reverse-plate-selection-check-rotation {
    0% {
        transform: rotate(360deg);
    }
    100% {
        transform:rotate(0deg);
    }
}

