

/* GLOBAL */

body {
    width: 100%;
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainContainer {
    display: flex;
    justify-content: center;
    padding: 0%;

    &--index {
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        animation: mainContainer-apparition 6s ease-in-out;
        @include main-container-padding;

        @include mobile-only {
            flex-direction: column;
            padding: 0%;
        }
    
        @include tab-only {
            flex-direction: column;
        }
    }
}

section {
    margin-top: 20px;
    width: 100%;
}

/* SECTIONS */

#localisationSection {
    flex: 1 40%;
    margin-right: 20px;

    @include tab-only {
        width: auto;
        margin-right: 0px;
    }
    @include mobile-only {
        width: auto;
        margin-right: 0px;
    }
}

#informationSection {
    display: flex;
    flex: 1 40%;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;

    h1 {
        margin-top: 0px;
        margin-bottom: 0px;
    }
}

#restaurantSection {
    flex: 2 100%;
}

@keyframes mainContainer-apparition {
    0% {
        opacity: 0;
    }
    80% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}