
body {
    margin: 0px;
}

#mainContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1400px;
}

main {
    margin-top: 20px;
}

section {
    margin-top: 20px;
    margin-bottom: 20px;
}