
.header-container {
    width: 640px;
    display: flex;
    justify-content: space-between;

    @include smallscreen-only {
        width: 62.5%;
    }

    @include tab-only {
        width: 480px;
    }

    @include mobile-only {
        width: 100%;
        justify-content: space-around;
    }
}

.header-logo {
    display: flex;
    justify-content: center;
    width: 60%;

    @include mobile-only {
        img {
            width: 100%;
        }
    }
}

.header {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 10px;

    .header-arrow {
        width: 20px;
        height: 20px;
        visibility: hidden;
    }
    
    .header-separator {
        width: 20px;
        height: 20px;
        visibility: hidden;
    }

    &--menu {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin-top: 10px;

        .header-arrow {
            width: 20px;
            height: 20px;
            visibility: visible;
            align-self: center;
        }

        .header-separator {
            width: 20px;
            height: 20px;
            visibility: hidden;
        }
    }
}
