
// BLOC

.restaurantBloc {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: $color-sitelightgrey;
    padding-top: 30px;
    padding-bottom: 50px;
    padding-right: 5%;
    padding-left: 5%;
    align-items: center;
    border-radius: 20px;


    h1 {
        margin-right: auto;
        width: 100%;
    }

    @include smallscreen-only {
        flex-direction: column;
        flex-wrap: nowrap;

        h1 {
            margin-right: 0px;
            width: auto;
        }
    }

    @include mobile-only {
        flex-direction: column;
        border-radius: 0px;

        h1 {
            margin-right: 0px;
            align-self: flex-start;
        }
    }
}


// CARD


.restaurantCard {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
    width: 400px;
    height: 250px;
    flex: 0 0 450px;
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
    @include box-shadowing;

    &__imgFrame {
        height: 175px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;

        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }

    &__description {
        height: 75px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: space-between;
        justify-content: center;
        padding: 5px 20px 5px 20px;
        
        h2 {
            margin: 0px;
            flex: 0 0 40%;
        }

        p {
            margin: 0px;
        }


    }

    @include mobile-only {
        width: 335px;
    }

    @include tab-only {
        width: 335px;
    }

    @include smallscreen-only {
        flex: 0 0 250px;
    }

    @media (max-width: 374px) {
        width: 280px;
    }
}





// ETIQUETTES
.etiquette {
    width: 80px;
    height: 30px;
    background-color: $color-tertiary;
    color: #008766;
    margin-top: 15px;
    margin-right: 15px;
    border: none;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 2px 2px darken($color-tertiary, 10%), inset -2px -2px darken($color-tertiary, 10%);

    p {
        margin: 0px;
        text-align: center;
        font-size: 16px;
        font-weight: bold;
    }
}


// IMAGES
#restaurant-palette_du_gout { background-image: url("../img/restaurants/palette_du_gout_big-min.jpg"); }
#restaurant-note_enchantee { background-image: url("../img/restaurants/note_enchantee_big-min.jpg"); }
#restaurant-ala_francaise { background-image: url("../img/restaurants/a_la_francaise_big-min.jpg"); }
#restaurant-delice_des_sens { background-image: url("../img/restaurants/delice_des_sens_big-min.jpg"); }